# C++ Objects and Archives
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.exe
*.out
*.app

# Qt Specific
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*/
*build_*/
*.pro.user
*.pro.user.*

# IDEs
.vscode/
.idea/
*.swp
*~
